body {
	background-color: darkred;
	color: white;
    margin: 0;
}

@font-face {
    font-family: 'plazaregular';
    src: url('fonts/plaza_regular.woff2') format('woff2'),
         url('fonts/plaza_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-decorativeregular';
    src: url('fonts/plazaef-decorative_regular.woff2') format('woff2'),
         url('fonts/plazaef-decorative_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-inlineregular';
    src: url('fonts/plazaef-inline_regular.woff2') format('woff2'),
         url('fonts/plazaef-inline_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazadultregular';
    src: url('fonts/plazadult_regular.woff2') format('woff2'),
         url('fonts/plazadult_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul li a {
  display: block;
  color: white;
  padding: 40px 80px;
  text-decoration: none;
  font-family: 'plazaregular';
  font-size: 40px;
}

ul li a:hover {
  background-color: darkblue;
}

a {
    color: white;
    font-family: 'plazadultregular', serif;
}

#Header1 {
	font-size: 150px;
	font-family: 'plazadultregular', serif;
	font-style: italic;
	font-weight: lighter;
}

#PlazaCity {
     position: fixed;
     bottom: 0px;
     left: -90px;
     z-index: -1;
}

#containerletters {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.letter {
    font-size: 70px;
    font-family:'plazaregular';
}

.letter:hover {
    color: darkblue;
}




