body {
	background-color: darkred;
	color: white;
}

@font-face {
    font-family: 'plazaregular';
    src: url('fonts/plaza_regular.woff2') format('woff2'),
         url('fonts/plaza_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-decorativeregular';
    src: url('fonts/plazaef-decorative_regular.woff2') format('woff2'),
         url('fonts/plazaef-decorative_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-inlineregular';
    src: url('fonts/plazaef-inline_regular.woff2') format('woff2'),
         url('fonts/plazaef-inline_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazadultregular';
    src: url('fonts/plazadult_regular.woff2') format('woff2'),
         url('fonts/plazadult_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

p {
        font-size: 40px;
        font-family:'plazaultregular';
        border-width: 30px;
        text-indent: 30px;
        word-spacing: 5px;
        letter-spacing: 1px;
    }

img {
	width: 400px;
}

#header1 {
    font-size: 150px;
    font-family: 'plazadultregular', serif;
        font-style: italic;
    font-weight: lighter;
}

#flash {
    position: fixed;
    width: 60%;
    height: 90%;
    background-color: white;
    opacity: 0;
}

#flash.active {
    animation: flash ease-out 10s;
}

@keyframes flash {
    from { opacity: 1; }
    2% { opacity: 0; }
    3% { opacity: 1; }
    4% { opacity: 0; }
    6% { opacity: 1; }
    8% { opacity: 0; }
    to { opacity: 0; }
}












