body {
	background-color: darkred;
	color: white;
}

@font-face {
    font-family: 'plazaregular';
    src: url('fonts/plaza_regular.woff2') format('woff2'),
         url('fonts/plaza_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-decorativeregular';
    src: url('fonts/plazaef-decorative_regular.woff2') format('woff2'),
         url('fonts/plazaef-decorative_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazaef-inlineregular';
    src: url('fonts/plazaef-inline_regular.woff2') format('woff2'),
         url('fonts/plazaef-inline_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'plazadultregular';
    src: url('fonts/plazadult_regular.woff2') format('woff2'),
         url('fonts/plazadult_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

 margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: black;
  display: flex;
}

ul li a {
  display: block;
  color: white;
  padding: 40px 80px;
  text-decoration: none;
  font-family: 'plazaregular';
  font-size: 40px;
}

ul li a:hover {
  background-color: darkblue;
}

	p {
		font-size: 40px;
		font-family:'plazaregular';
		border-width: 30px;
		text-indent: 30px;
		word-spacing: 5px;
		letter-spacing: 1px;
	}



#container {
position: fixed;
top: 0;
display: flex;
flex-direction: column;
}

#container2 {
display: flex;
	flex-wrap: wrap;
	gap: 1200px;
}

#GothamBackground {
	top: 0;
	height: 100vh;
	position: fixed;
	z-index: -1;
}

#header1 {
	font-size: 150px;
	font-family: 'plazadultregular', serif;
		font-style: italic;
	font-weight: lighter;
	animation: fadein 2s infinite;
}

#header2 {
	font-size: 75px;
	font-family: 'plazadultregular', serif;
	font-weight: bold;
	width: 60px;
}

#header3 {
	font-size: 75px;
	font-family:'plazadultregular';
}

#header4 {
	font-size: 75px;
	font-family:'plazadultregular';
}

.Container {
	display: flex;
  flex-direction: row;
  height: 80vh;         /* Full window height */
  overflow-x: auto;      /* Horizontal scroll */
  overflow-y: hidden;    /* Avoid vertical scroll */
  align-items: flex-end; /* Align columns at bottom */
  gap: 2rem;             /* Space between columns */
  padding: 1rem;
}

.Container2 {
	display: flex;
  flex-direction: row;
  height: 100vh;         /* Full window height */
  overflow-x: auto;      /* Horizontal scroll */
  overflow-y: hidden;    /* Avoid vertical scroll */
  align-items: flex-end; /* Align columns at bottom */
  gap: 2rem;             /* Space between columns */
  padding: 1rem;    
}

#Paragraph9 {
	width: 500px;
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	padding: 10px;
	margin: 20px;
	justify-content: center;
}

@keyframes fadein {
	0% {opacity: 1;}
	50% {opacity: 0;}
	100% {opacity: 1;}
}

#BatmanLightning {
	animation: lightning 1.5s infinite;
}

@keyframes lightning {
	35% {opacity: 0;}
	40% {opacity: 1}
	42% {opacity: 0}
	43% {opacity: 1}
	46% {opacity: 0}
	50% {opacity: 1;}
	100% {opacity: 0;}
}